:root{
    --width: 150px;
    --color: black;
    --padding: 10px;
    --background-color: beige;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(149, 197, 245);
    padding: var(--padding);
}
nav a {
    color: white;
    display: inline;
    padding: 20px;
}
h1 {
    color: black;
}
main img{
    width: var(--width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 5px;
    color: var(--color);
}
main{
    max-width: 840px; 
}
main h1{
    text-align: center;
}
main ul{
    display: inline-block;
}
main ul li{
    margin-left: 20px;
}

aside{
    max-width: 840px;
    margin: 10px;
    border: 1px solid black;
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--color);
}
aside img{
    width: var(--width);
    height: auto;
}
aside h2{
    position: absolute;
    top: 400px;
    left: 300px;
}

footer{
    margin-top: 20px;
    border-top: 2px dotted darkgray;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkgrey;
    background-color: var(--background-color);
    color: black;

}