:root{
    --width: 150px;
    --color: black;
    --padding: 10px;
}

nav{
    background-color: darkblue;
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img{
    width: var(--width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    color: var(--color);
}
main{
    max-width: 840px; 
}
aside{
    max-width: 840px;
    margin: 10px;
    border: 1px solid black;
    padding: var(--padding);
    background-color: beige;
    color: var(--color);
}
aside img{
    width: var(--width);
    height: auto;
}

footer{
    margin-top: 20px;
    border-top: 2px dotted darkgray;
    text-align: center;
}
/* This is a comment use command / to use it */